/*1Í·²¿*/
#header{
	margin:10px 0  10px;
}
#header span{
	font-size:23px;
	position:relative;
	top:0px;
	left:-13px;
}
/*2×¢²á*/
#register{
	width:1200px;
	height:500px;
	border:1px solid #E6E6E6;
	background: url(../img/register/bg.png) no-repeat scroll 800px 20px;
}

#form1{
	width:800px;
	height:450px;
	box-sizing:border-box;
	/*border:1px solid red;*/
	position:relative;
	top:10px;
	left:10px;
	font-family: Arial,simsun;
	padding:20px;
	background:#fff;
}
#form1>h3{
	width:300px;
	height:40px;
	/*border:1px solid red;*/
	line-height:40px !important;
    text-align: center;
    font:18px "Microsoft YaHei";
	color: #cc0000;
	margin-left:150px;
}
#form1>div{
	width:700px;
	height:40px;
	/*border:1px solid red;*/
    height: 38px;
    line-height: 38px;
    font-size: 14px;
	margin-top:20px;
}
#form1>div>label{
	display:inline-block;
	width: 150px;
    text-align: right;
    color: #888888;
}
#form1>div>input{
	width: 288px;
    height: 36px;
	box-sizing:border-box;
    padding: 0 15px;
    border: 1px solid #ccc;
	outline:none;
}
#form1>div.code>input{
	width: 168px;
	margin-right:6px;
}
#form1>div.code>a{
	display:inline-block;
	width: 100px;
    height: 36px;
    border: 1px solid #ccc;
	padding: 0 5px;
	color: #5e5e5e !important;
}
#form1>div.code>a:hover{
	border: 1px solid #A5A5A5;
}
#form1>div>span{
	margin-left:10px;
}
#submit{
    display: block;
    width: 290px;
	height: 38px !important;
    background: #ff5757;
    font-size:16px !important;
    color: #fff !important;
    text-align: center;
    border: 0 none;
    outline: 0;
    word-spacing: 3px;
    cursor: pointer;
	margin-left:152px;

}

.ok{color:green;}
.err{color:red;}





















/*3 µ×²¿*/
#footer-bottom{
    width:1200px;
    margin:0 auto;
    padding: 30px 0;
    border-top: 1px solid #dd00a7;
}
#footer-bottom>p{
    display: block;
    text-align: center;
    color: #a5a5a5;
}
#footer-bottom>p:last-child{
    padding: 15px;
}
#footer-bottom a{
    color: #a5a5a5;
    display:inline-block;
    height: 20px;
    line-height: 20px;
}
#footer-bottom a:hover{
    color: #a5a5a5;
}




/********µ¯¿ò******/
#jumpbox{
	position:fixed;
	display:none;
	top:0;
    z-index:1000;
	width:1200px;
	height:750px;
	background:rgba(255,255,255,0.4);
}
#jump{
	width:300px;
	height:200px;
	box-sizing:border-box;
	background:rgba(255,255,255,0.8);
	margin:0 auto;
	margin-top:270px ;
	text-align:center;
	border-radius:10px;
	border:1px solid #ccc;
}
#jump>div:first-child{
	font-size:18px;
	height:40px;
	line-height:40px;
	background:#eee;
}
#msg{
	height:30px;
	line-height:30px;
	font-size:16px;
	margin:40px 0 30px;
}
#yes{
	width:50px;
	height:30px;
}